/*css reset*/
:root {
  --default-padding: 2rem;
  --desktop-width: 1440px;
  --default-radius: 1rem;
  --color-light-red: rgba(245, 56, 85, 1);
  --color-normal-red: rgba(245, 56, 56, 1);
  --color-white: #ffffff;
  --background-color: #f8f8f8;
  --color-gray-white: rgba(238, 239, 242, 1);
  --color-button-red: #f53838;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*box sizing to make the border and padding included with the element width*/
*,
*::after,
*::before {
  box-sizing: border-box;
}

/* tags links*/
a {
  color: inherit;
  display: inline-block;
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  border: 0;
}

ul,
ol {
  list-style: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
}
body {
  font-size: 1.6rem;
  font-family: "Rubik", sans-serif;
  line-height: 1.3px;
}

/* end css reset */
.container {
  display: flex;
  flex-direction: column;
  max-width: var(--desktop-width);
  justify-content: center;
  margin: 0 auto;
  padding: 0 var(--default-padding);
  gap: calc(var(--default-padding) * 6);
  background-color: var(--color-white);
}
.button:not(.card__button) {
  background-color: var(--color-normal-red);
  border-radius: var(--default-radius);
  padding: 1.8rem 8rem;
  font-weight: 700;
  height: calc(var(--default-padding) * 3);
  color: var(--color-white);
  font-size: 1.6rem;
  box-shadow: 0 1rem 1.8rem 0.2rem rgba(245, 56, 56, 0.35);
  text-align: center;
  line-height: 2.5rem;
}

.header {
  display: flex;
  align-items: center;
  margin-top: calc(var(--default-padding) * 2.5);
}
.logoContent {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  text-transform: capitalize;
  font-weight: 500;
  margin-right: calc(var(--default-padding) * 7.85);

  &:nth-of-type(1) &__title {
    display: flex;
    flex: 1;
    justify-content: center;
    width: calc(var(--default-padding) * 5.2);
    height: calc(var(--default-padding) * 1.2);
    font-size: var(--default-padding);
    line-height: calc(var(--default-padding) * 1.185);

    &--title2 {
      font-weight: 700;
    }
  }
}
.links {
  display: flex;
  align-items: center;
  gap: calc(var(--default-padding) * 2);

  &__link {
    font-weight: 400;
    font-size: calc(var(--default-padding) * 0.8);
    line-height: calc(var(--default-padding));
  }

  &--signin {
    margin-left: calc(var(--default-padding) * 5.5);
    font-weight: 500;
    font-size: calc(var(--default-padding) * 0.9);
    line-height: calc(var(--default-padding));
  }
  &--signup {
    margin-left: calc(var(--default-padding) * 1.75);
    border: 1px solid var(--color-light-red);
    border-radius: 50px;
    padding: calc(var(--default-padding) * 0.65)
      calc(var(--default-padding) * 2.25);
    font-weight: 500;
    font-size: calc(var(--default-padding) * 0.9);
    line-height: calc(var(--default-padding));
  }
}
.section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: calc(var(--default-padding) * 2);
  background-color: var(--color-white);

  &#help {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Align items at the start of the container */
    background: #f8f8f8;
    padding: 3rem 0 0 0;
  }

  &#help .section {
    padding: var(--default-padding);

    display: flex;

    &__title {
      font-size: 1.8rem;
    }
    &__button {
      padding: 1.8rem 8rem;
      font-weight: 700;
      height: calc(var(--default-padding) * 3);
      font-size: 1.6rem;
      text-align: center;
      line-height: 2.5rem;
    }
  }

  // &#help .logoContent {
  //   display: flex;

  //   align-items: center;
  //   justify-content: center;
  //   gap: 1rem;
  //   text-transform: capitalize;
  //   font-weight: 500;
  //   margin-right: calc(var(--default-padding) * 7.85);

  //   &:nth-of-type(1) &__title {
  //     display: flex;
  //     align-content: first baseline;

  //     justify-content: center;
  //     width: calc(var(--default-padding) * 5.2);
  //     height: calc(var(--default-padding) * 1.2);
  //     font-size: var(--default-padding);
  //     line-height: calc(var(--default-padding) * 1.185);

  //     &--title2 {
  //       font-weight: 700;
  //     }
  //   }
  // }

  &#signup {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 34rem;
    line-height: 1.5px;
    margin-left: 10rem;
    border: 10px solid #ffff;
  }

  &#features {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.4rem;
    line-height: calc(var(--default-padding) * 2.5);
  }
  &__content {
    display: flex;
    flex-direction: column;
    gap: calc(var(--default-padding));
  }

  &--one--column {
    display: flex;
    margin-top: calc(var(--default-padding) * 5.15);
    gap: var(--default-padding);
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &#testimonials .slide-radio:checked ~ .cards .card__wrapper {
      border: 2px solid #f53838;
      transition: border 4s ease-in-out;
    }

    &#testimonials .cards {
      display: flex;
      position: relative;
      justify-content: center;
      gap: calc(var(--default-padding) * 2.5);
      width: 100%;
      margin-top: calc(var(--default-padding) * 2);

      &::after {
        content: "";
      }
    }

    &#testimonials .card {
      display: flex;
      flex-direction: column;
      text-align: left;
      width: 40rem;
      height: 23rem;

      &__wrapper {
        padding: var(--default-padding);
        text-align: center;
        width: 40rem;
        height: 23rem;
        border: 2px solid #dddd;
        border-radius: 1rem;
      }

      &__title {
        display: flex;
        align-items: center;
        justify-content: center;

        gap: 0.5rem;
      }
      &__Name {
        margin-right: calc(var(--default-padding) * 5);
      }
    }

    &#about .cards {
      &::after {
        content: "";
        box-shadow: 0rem 1.5rem 1.8rem 0.2rem #0d1025;
        position: absolute;
        height: calc(var(--default-padding) * 9.5);
        width: 100%;
        border-radius: calc(var(--default-padding) * 0.5);
        opacity: 6%;
      }
    }

    &#about .card {
      justify-content: center;
      display: flex;
      align-items: center;
      width: 100%;
      gap: calc(var(--default-padding) * 2);
    }

    &#pricing {
      background-color: var(--background-color);
    }

    &#pricing .section__description {
      margin-bottom: var(--default-padding);
    }
    &#pricing .cards {
      gap: calc(var(--default-padding) * 2.5);
    }
    &#pricing .card {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 33rem;
      height: 76rem;
      background-color: var(--color-white);
      border-radius: 1rem;
      border: 2px solid #dddddd;

      &:nth-child(3) {
        border: 2px solid #f53838;
      }

      &__button {
        background-color: var(--color-white);
        border-radius: 5rem;
        border: 2px solid #f53838;
        padding: 1.8rem 8rem;
        font-weight: 700;
        height: calc(var(--default-padding) * 3);
        color: var(--color-button-red);
        font-size: 1.6rem;
        text-align: center;
        line-height: 2.5rem;
      }
      &__button:hover {
        opacity: 0.5;
      }
    }
  }

  &__title {
    font-size: calc(var(--default-padding) * 2.5);
    line-height: calc(var(--default-padding) * 3.5);
    font-weight: 500;
  }

  &__description {
    display: flex;
    font-size: calc(var(--default-padding) * 0.8);
    line-height: calc(var(--default-padding) * 1.5);
    font-weight: 400;
    align-items: center;
    width: 100%;

    .section--one--column & {
      text-align: center;
      max-width: 55.5rem;
    }
  }
  &__lists {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
    font-size: calc(var(--default-padding) * 0.8);
    line-height: calc(var(--default-padding) * 1.5);
    font-weight: 400;
    width: 100%;
    gap: calc(var(--default-padding) * 0.75);
  }
  &__list {
    display: flex;
    width: 100%;
    gap: calc(var(--default-padding) * 0.5);
  }

  &__buttons {
    display: flex;
    margin-top: calc(var(--default-padding) * 1.5);
  }

  &__imageContent {
    display: flex;
  }
  &__imageNetwork {
    margin-top: calc(var(--default-padding) * 6);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.cards {
  display: flex;
  position: relative;
  gap: var(--default-padding);
  width: 100%;
  justify-content: center;
  align-items: center;
}
.card {
  display: flex;
  align-items: center;
  width: 100%;
  gap: calc(var(--default-padding) * 2);

  &__image {
    margin-top: 8rem;
    margin-bottom: 3rem;
  }

  &__lists {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 23rem;
  }
  &__list {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}
.slider {
  position: relative;
  overflow: hidden;
  display: flex;
  width: 100%;
  margin-top: calc(var(--default-padding) * 2);
  justify-content: center;
  align-items: center;
  padding: var(--default-padding) 0;

  &__arrows {
    box-sizing: border-box;
    margin-right: calc(var(--default-padding) * 6);
    display: flex;

    &--previous {
      border: 2px solid var(--color-button-red);
      color: var(--color-button-red);
      padding: 1.8rem 1.8rem;
      text-align: center;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      display: flex;
      font-size: 3rem;
      font-weight: 700;
      margin: 4px;
      cursor: pointer;
      border-radius: 50%;
      width: 6rem;
      height: 6rem;
      line-height: 2.5rem;
      transition: background-color 0.3s ease;
    }

    &--next {
      border: 2px solid var(--color-button-red);
      color: var(--color-button-red);
      padding: 1.8rem 1.8rem;
      text-align: center;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      display: flex;
      font-size: 3rem;
      font-weight: 700;
      margin: 4px;
      cursor: pointer;
      border-radius: 50%;
      width: 6rem;
      height: 6rem;
      line-height: 2.5rem;
      transition: background-color 0.3s ease;
    }

    /* On hover, add a red background color with a little bit see-through */
    &--previous:hover,
    &--next:hover {
      background-color: var(--color-button-red);
      color: var(--color-white);
    }
  }
  &__dots {
    margin-left: calc(var(--default-padding) * 3);
    margin-right: auto;
    box-sizing: border-box;

    &.dot {
      display: none;
      height: 15px;
      width: 15px;
      margin: 0 5px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }
  }
}
input[name="slider"] {
  display: none;
}

.slide-radio {
  display: none;
}

.slide-radio:checked ~ .cards .card__wrapper::after {
  content: "";
  padding: var(--default-padding);
  text-align: center;
  width: 40rem;
  height: 23rem;
  border: 2px solid #f53838;
  border-radius: 1rem;
}

#slide1:checked ~ .slider__dots label:nth-child(1),
#slide2:checked ~ .slider__dots label:nth-child(2),
#slide3:checked ~ .slider__dots label:nth-child(3) {
  height: 15px;
  width: 45px;
  margin: 0 5px;
  background-color: #f53838;
  border-radius: var(--default-padding);
}
